{% extends 'base.html' %} {% block content %}
<div class="card-body form_bg_color ">
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login">
            <h4>
                <center>Login Account</center>
            </h4>
        </p>
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group .justify-content-start ">
                <label for="exampleInputEmail1">Email address</label> {{ form.email }}

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label> {{ form.password }}
            </div>
            {% if messages %} {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: red">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %} {{ message }}
                </p>
                {% endfor %} {% endif %}
                <input class="btn btn-primary" type="submit" value="Submit">
                <!-- <button type="submit" class="btn btn-primary  btn-am">Sign Up</button> -->
        </form>
    </div>
</div> {% endblock %}