{% extends 'base.html' %} {% block content %}

<center> Register Akun Anda </center>
</h1>
<h5>
    <center> Pilih Role Anda di Siruco kemudian Isi data diri anda </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'users:register_admin_sistem' %}">Admin Sistem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'users:register_pengguna_publik' %}">Pengguna Publik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'users:register_dokter' %}">Dokter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'users:register_admin_satgas' %}">Admin Satgas</a>
            </li>
        </ul>
    </div>
    <div class="card-body form_bg_color ">
        <div class="outer-form container form-column col-md-4 ">
            <p class="tulisan_login">
                <h4>
                    <center>Register as Admin Sistem</center>
                </h4>
            </p>
            <form action="{% url 'users:register_admin_sistem' %}" method="POST">
                {% csrf_token %}
                <div class="form-group .justify-content-start ">
                    <label for="exampleInputEmail1">Email address</label> {{ form.email }}

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label> {{ form.password }}
                </div>

                <input class="btn btn-primary" type="submit" value="Submit">
                <!-- <button type="submit" class="btn btn-primary  btn-am">Sign Up</button> -->
            </form>
        </div>
    </div>
</div>

{% endblock %}