{% extends 'base.html' %} 
{% block content %}

<center> Database Rumah Sakit </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:create_form_rs' %}">Buat RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'rumahsakit:list_rs' %}">List RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_dokter' %}">List Jadwal Dokter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'rumahsakit:create_form_reservasi_rs' %}">Buat Reservasi RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:list_reservasi' %}">List Reservasi RS</a>
            </li>
        </ul>
    </div>
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Create Reservasi RS</center></h4></p>
     
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">NIK Pasien</label> {{ form.NIK_Pasien }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Tanggal Masuk</label> {{ form.tanggal_masuk }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Tanggal Keluar</label> {{ form.tanggal_keluar }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kode Rumah Sakit</label> {{ form.kode_rs }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kode Ruangan</label> {{ form.kode_ruangan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kode Bed</label> {{ form.kode_bed }}
          </div>
          <input class="btn btn-primary" type="submit" value="SIMPAN">
      </form>
    </div> 
    </div>
</div>

<!-- JQUERY AJAX CODE -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>


  $("#id_kode_rs").change(function(){
    var url = "{% url 'rumahsakit:list_ruang' %}";
    var kode_rs = $(this).val();
    console.log(kode_rs);
    
    $.ajax({
      url: url,
      data: {
        'kode_rs' : kode_rs
      },
      success: function(data) {
        console.log('test')
        console.log(data);
        console.log('test');
        $("#id_kode_ruangan").html(data);
      }
    });
  });  
</script>
  
<script>
$("#id_kode_ruangan").change(function(){
  var url = "{% url 'rumahsakit:list_bed' %}"
  var kode_ruang = $(this).val();
  var kode_rs = $("#id_kode_rs").val();
  console.log(kode_ruang)
  console.log(kode_rs)

  $.ajax({
    url : url,
    data : {
      'kode_rs' : kode_rs,
      'kode_ruang' : kode_ruang
    },
    success: function (data) {
      console.log('test2')
      console.log(data)
      console.log('test2')
      $("#id_kode_bed").html(data);
    }
  });
});
  

</script>



{% endblock %}
