{% extends 'base.html' %} 
{% block content %}

<center> Database Rumah Sakit </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'rumahsakit:create_form_rs' %}">Buat RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'rumahsakit:list_rs' %}">List RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_dokter' %}">List Jadwal Dokter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:create_form_reservasi_rs' %}">Buat Reservasi RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:list_reservasi' %}">List Reservasi RS</a>
            </li>
        </ul>
    </div>
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Create RS</center></h4></p>
     
        <form action="{% url 'rumahsakit:create_form_rs' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Kode Faskes</label> {{ form.kode_rs }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Rujukan</label> {{ form.rujukan }}
          </div>
          <input class="btn btn-primary" type="submit" value="SIMPAN">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
