{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Rumah Sakit </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'rumahsakit:create_form_rs' %}">Buat RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'rumahsakit:list_rs' %}">List RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_dokter' %}">List Jadwal Dokter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:create_form_reservasi_rs' %}">Buat Reservasi RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:list_reservasi' %}">List Reservasi RS</a>
            </li>
        </ul>
    </div>
<br>

<h2><center>List Rumah Sakit</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Rumah Sakit</th>
                <th scope="col">Status Rujukan</th>
                <th scope="col">Action</th>
                <!-- {% if request.session.role == "ADMIN_APOTEK" %}
                <th scope="col">Action [ADMIN]</th>
                {% endif %} -->
            </tr>
        </thead>
        <tbody>
          {% for li in list_rs %}
            <tr>
                <td>{{li.0}}</td>
                {% if li.1 == '1' %}
                <td><input disabled type="checkbox" checked></td>
                {% endif %}
                {% if li.1 == '0' %}
                <td><input disabled type="checkbox"></td>
                {% endif %}
                
                <td> 
                  <a class="btn btn-primary btn-am bg-success update" href="{% url 'rumahsakit:update_rs' row=li.0 %}">Update</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}












