{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Rumah Sakit </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'rumahsakit:create_form_rs' %}">Buat RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:list_rs' %}">List RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_dokter' %}">List Jadwal Dokter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Ruangan RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">Buat Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register_admin_satgas' %}">List Bed RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rumahsakit:create_form_reservasi_rs' %}">Buat Reservasi RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'rumahsakit:list_reservasi' %}">List Reservasi RS</a>
            </li>
        </ul>
    </div>
<br>

<h2><center>List Rumah Sakit</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">No</th>
                <th scope="col">NIK Pasien</th>
                <th scope="col">Tanggal Masuk</th>
                <th scope="col">Tanggal Keluar</th>
                <th scope="col">Rumah Sakit</th>
                <th scope="col">Ruangan</th>
                <th scope="col">Bed</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_reservasi %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                <td>{{li.2}}</td>
                <td>{{li.3}}</td>
                <td>{{li.4}}</td>
                <td>{{li.5}}</td>                
                <td> 

                  <a class="btn btn-primary btn-am bg-success update" href="{% url 'rumahsakit:update_reservasi' row=li.0 row2=li.1 %}">Update</a>
                  <a class="btn btn-primary btn-am bg-success update" href="{% url 'rumahsakit:delete_reservasi' row=li.0 row2=li.1 %}">Delete</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}












