{% extends 'base.html' %} 
{% block content %}


    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Update Reservasi</center></h4></p>
     
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-group">
                <label for="validationDefault01">NIK Pasien</label> {{ form.NIK_Pasien }}
              </div>
              <div class="form-group">
                <label for="validationDefault01">Tanggal Masuk</label> {{ form.tanggal_masuk }}
              </div>
              <div class="form-group">
                <label for="validationDefault01">Tanggal Keluar</label> {{ form.tanggal_keluar }}
              </div>
              <div class="form-group">
                <label for="validationDefault01">Kode Rumah Sakit</label> {{ form.kode_rs }}
              </div>
              <div class="form-group">
                <label for="validationDefault01">Kode Ruangan</label> {{ form.kode_ruangan }}
              </div>
              <div class="form-group">
                <label for="validationDefault01">Kode Bed</label> {{ form.kode_bed }}
              </div>
          <input class="btn btn-primary" type="submit" value="UPDATE">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
