{% extends 'base.html' %} 
{% block content %}


    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Update RS</center></h4></p>
     
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Kode Faskes</label> {{ form.kode_rs }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Rujukan</label> {{ form.rujukan }}
          </div>
          <input class="btn btn-primary" type="submit" value="UPDATE">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
