{% extends 'base.html' %} {% block content %}

<center> Database Transaksi Makanan </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'transaksi_makanan:create_transaksi_makan' %}">Daftar Transaksi Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_transaksi_makan' %}">List Transaksi Makan</a>
            </li>
        </ul>
    </div>
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login">
            <h4>
                <center>Form Buat Transaksi Makan</center>
            </h4>
        </p>
        <form action="{% url 'transaksi_makanan:create_transaksi_makan' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="validationDefault01">Id Transaksi</label> {{ form.idTransaksi }}
            </div>
            <div class="form-group">
                <label for="validationDefault01">Id Transaksi Makan</label> {{ form.idTransaksi_Makan }}
            </div>
            <div class="form-group">
                <label for="validationDefault01">Kode Hotel</label><input type="text" disabled name="kode_hotel" id="kode_hotel">
            </div>
            <h3>Pesanan :</h3>
            <br>
            <div id="paket_list" class="form-group">
                <label for="validationDefault01">Kode Paket</label> {{ form.kode_paket }}
            </div>
            <button class="btn btn-primary" id="tambah_paket"> TAMBAH </button>
            <input class="btn btn-primary" type="submit" id="submit" value="SIMPAN">
        </form>
    </div>
</div>
</div>

{% endblock %} {% block script %}
<script>
    String.prototype.format = function() {
        a = this;
        for (k in arguments) {
            a = a.replace("{" + k + "}", arguments[k])
        }
        return a
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i) {
            if (!n['name'].startsWith("paket_makan")) {
                indexed_array[n['name']] = n['value'];
            }
        });

        return indexed_array;
    }

    let paketMakanSelectorHtml = (id, options) => `
  <div id="paket_makan_selector${id}">
    <label for="paket_makan_dropdown${id}">Kode Paket</label>
    <select class="paket_makan" name="paket_makan${id}" id="paket_makan_dropdown${id}">${options}</select>
  </div>
`;

    var idPaketMakan = 1;
    var listPaketMakan;
    var paketMakanOptions;

    let $idTransaksi = $("#id_idTransaksi");

    $("#tambah_paket").click(function(e) {
        e.preventDefault();
        $("#paket_list").append(paketMakanSelectorHtml(idPaketMakan++, paketMakanOptions))
    });

    $idTransaksi.change(function() {
        let idTransaksi = $idTransaksi.val();

        $.ajax({
            type: "GET",
            url: "/transaksi_makan/get_kode_hotel",
            data: {
                idTransaksi
            },
            dataType: "json",
            success: function(response) {
                $("#kode_hotel").val(response.kodeHotel);

                listPaketMakan = response.paketMakanList;

                paketMakanOptions = "";
                for (const [i, paketMakan] of listPaketMakan.entries()) {
                    paketMakanOptions += `
          <option value="${paketMakan}" ${i === 0 ? "selected" : ""}>${paketMakan}</option>
        `
                }
                $("#paket_list").html(paketMakanSelectorHtml(idPaketMakan++, paketMakanOptions));
            }
        });
    });

    $("#submit").click(function(e) {
        e.preventDefault();
        let $form = $("form");

        if (!$form[0].checkValidity()) {
            $form[0].find(':submit').click()
            return
        }
        let data = getFormData($form)

        data["listKodePaket"] = $.map($(".paket_makan"), (e) => e.value);

        if (data["listKodePaket"].length === 0) {
            alert("Harap memilih minimal 1 paket makan");
            return
        }

        console.log(data);

        $.ajax({
            type: "POST",
            url: "/transaksi_makan/create_transaksi_makan",
            data: {
                "data": JSON.stringify(data),
                "csrfmiddlewaretoken": data["csrfmiddlewaretoken"]
            },
            dataType: "json",
            success: function(response) {
                window.location = "/transaksi_makan/list_transaksi_makan"
            },
            error: function(error) {
                console.error(error);
            }
        });
    });
</script>
{% endblock %}