{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Paket Makan </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>
{% if peran == "admin sistem" %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel:create_hotel' %}">Daftar hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:create_paket_makan' %}">Daftar Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}
{% if peran == "pengpub" %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:create_transaksi_makan' %}">Daftar Transaksi Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_transaksi_makan' %}">List Transaksi Makan</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}
{% if peran == "admin satgas" %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:create_transaksi_makan' %}">Daftar Transaksi Makan dan Daftar Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_transaksi_makan' %}">List Transaksi Makan dan Daftar Pesan</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}
<br>

<h2><center>List Hotel</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        {% if peran == "admin sistem" %}
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Kode Paket</th>
                <th scope="col">Nama Paket</th>
                <th scope="col">Harga</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_paket_makan %}
            <tr>
                <td>{{li.0.0}}</td>
                <td>{{li.0.1}}</td>
                <td>{{li.0.2}}</td>
                <td>{{li.0.3}}</td>
                <td> 
                    <a href="{% url 'transaksi_makanan:update_paket_makan' row1=li.0 row2=li.1 %}" class="btn btn-primary btn-am bg-success update">Update</a>
                    {% if li.1 == 1 %}
                    <a href="{% url 'transaksi_makanan:delete_paket_makan' row1=li.0 row2=li.1 %}" class="btn btn-primary btn-am bg-success update">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if peran == "pengpub" %}
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Kode Paket</th>
                <th scope="col">Nama Paket</th>
                <th scope="col">Harga</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_paket_makan %}
            <tr>
                <td>{{li.0.0}}</td>
                <td>{{li.0.1}}</td>
                <td>{{li.0.2}}</td>
                <td>{{li.0.3}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if peran == "admin satgas" %}
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Kode Paket</th>
                <th scope="col">Nama Paket</th>
                <th scope="col">Harga</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_paket_makan %}
            <tr>
                <td>{{li.0.0}}</td>
                <td>{{li.0.1}}</td>
                <td>{{li.0.2}}</td>
                <td>{{li.0.3}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>

{% endblock %}
