{% extends 'base.html' %} 
{% block content %}

<center> Database Hotel </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
   
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Update Paket Makan</center></h4></p>
     
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Id Transaksi</label> {{ form.idTransaksi }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Id Transaksi Makan</label> {{ form.idTransaksi_Makan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kode Hotel</label> {{ form.kode_hotel }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kode Paket</label> {{ form.kode_paket }}
          </div>
          <input class="btn btn-primary" type="submit" value="UPDATE">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
