{% extends 'base.html' %} 

{% block content %}

<center> Database Hotel </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'hotel:create_hotel' %}">Daftar hotel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'transaksi_makanan:create_paket_makan' %}">Daftar Paket Makan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
        </li>
      </ul>
    </div>
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Buat Hotel</center></h4></p>
        <form action="{% url 'hotel:create_hotel' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Kode Hotel</label> {{ form.kode_hotel }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Nama Hotel</label> {{ form.nama_hotel }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Rujukan</label> {{ form.rujukan }}
          </div>
          <h3>Alamat :</h3>
          <br>
          <div class="form-group">
            <label for="validationDefault01">Jalan</label> {{ form.jalan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kelurahan</label> {{ form.kelurahan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kecamatan</label> {{ form.kecamatan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kabupaten/Kota</label> {{ form.kabkot }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Provinsi</label> {{ form.provinsi }}
          </div>
          <input class="btn btn-primary" type="submit" value="SIMPAN">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
