{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Hotel </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>
{% if peran == "admin sistem" %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel:create_hotel' %}">Daftar hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:create_paket_makan' %}">Daftar Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
          </ul>
    </div>
</div>
{% endif %}
{% if peran == "pengpub" %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:create_transaksi_makan' %}">Daftar Transaksi Makan dan Daftar Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_transaksi_makan' %}">List Transaksi Makan dan Daftar Pesan</a>
            </li>
          </ul>
    </div>
</div>
{% endif %}
{% if peran == "admin satgas" %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'hotel:list_hotel' %}">List Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_paket_makan' %}">List Paket Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:create_transaksi_makan' %}">Daftar Transaksi Makan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaksi_makanan:list_transaksi_makan' %}">List Transaksi Makan</a>
            </li>
          </ul>
    </div>
</div>
{% endif %}
<br>

<h2><center>List Hotel</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        {% if peran == "admin sistem" %}
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Nama Hotel</th>
                <th scope="col">Status Rujukan</th>
                <th scope="col">Alamat</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_hotel %}
            <tr>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                {% if li.2 == '1' %}
                <td><input disabled type="checkbox" checked></td>
                {% endif %}
                {% if li.2 == '0' %}
                <td><input disabled type="checkbox"></td>
                {% endif %}
                <td>{{li.3}},{{li.4}},{{li.5}},{{li.6}},{{li.7}}</td>
            
                <td> 
                    <a href="{% url 'hotel:update_hotel' row=li.0 %}" class="btn btn-primary btn-am bg-success update">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if peran == "pengpub" %}
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Nama Hotel</th>
                <th scope="col">Status Rujukan</th>
                <th scope="col">Alamat</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_hotel %}
            <tr>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                {% if li.2 == '1' %}
                <td><input disabled type="checkbox" checked></td>
                {% endif %}
                {% if li.2 == '0' %}
                <td><input disabled type="checkbox"></td>
                {% endif %}
                <td>{{li.3}},{{li.4}},{{li.5}},{{li.6}},{{li.7}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if peran == "admin satgas" %}
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Nama Hotel</th>
                <th scope="col">Status Rujukan</th>
                <th scope="col">Alamat</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_hotel %}
            <tr>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                {% if li.2 == '1' %}
                <td><input disabled type="checkbox" checked></td>
                {% endif %}
                {% if li.2 == '0' %}
                <td><input disabled type="checkbox"></td>
                {% endif %}
                <td>{{li.3}},{{li.4}},{{li.5}},{{li.6}},{{li.7}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>

{% endblock %}
