{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Transaksi </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'transaksi_rs:list_transaksi_rs' %}">List Transaksi RS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">List Transaksi Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">List Transaksi Booking Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Buat Transaksi Makanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Daftar Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">List Transaksi Makanan dan Daftar Pesan</a>
            </li>
        </ul>
    </div>
<br>

<h2><center>List Transaksi RS</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Id Transaksi</th>
                <th scope="col">Kode Pasien</th>
                <th scope="col">Tanggal Pembayaran</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Tanggal Masuk</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Status Bayar</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_transaksi_rs %}
            <tr>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                <td>{{li.2}}</td>
                <td>{{li.3}}</td>
                <td>{{li.4}}</td>
                <td>{{li.5}}</td>
                <td>{{li.6}}</td>
                <td>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'transaksi_rs:update_transaksi_rs' row=li.0 %}">Update</a>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'transaksi_rs:delete_transaksi_rs' row=li.0 %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}












