{% extends 'base.html' %} 
{% block content %}

<div class="card">
   
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Update Transaksi RS</center></h4></p>
     
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Id Transaksi</label> {{ form.idtransaksi }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kode Pasien</label> {{ form.kodepasien }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Tanggal Pembayaran</label> {{ form.tanggalpembayaran }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Waktu Pembayaran</label> {{ form.waktupembayaran }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Tanggal Masuk</label> {{ form.tglmasuk }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Total Biaya</label> {{ form.totalbiaya }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Status Bayar</label> {{ form.statusbayar }}
          </div>          
          <input class="btn btn-primary" type="submit" value="UPDATE">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
