{% extends 'base.html' %} 
{% block content %}

<div class="container px-4 px-lg-5 mt-5">
    <div class="card">
        <h5>Pendaftar: {{pendaftar}}</h5>
        <h5>NIK: {{NIK}}</h5>
        <h5>Nama: {{nama}}</h5>
        <h5>Nomor Telepon: {{no_telepon}}</h5>
        <h5>Nomor HP: {{no_hp}}</h5>
        <br>
        <h5>Alamat (Sesuai KTP):</h5>
        <h5>Jalan: {{jalan}}</h5>
        <h5>Kelurahan: {{kelurahan}}</h5>
        <h5>Kecamatan: {{kecamatan}}</h5>
        <h5>Kabupaten/Kota: {{kabkot}}</h5>
        <h5>Provinsi: {{provinsi}}</h5>
        <br>
        <h5>Alamat (Domisili):</h5>
        <h5>Jalan: {{jalan_dom}}</h5>
        <h5>Kelurahan: {{kelurahan_dom}}</h5>
        <h5>Kecamatan: {{kecamatan_dom}}</h5>
        <h5>Kabupaten/Kota: {{kabkot_dom}}</h5>
        <h5>Provinsi: {{provinsi_dom}}</h5>
    </div>
</div>

{% endblock %}
