{% extends 'base.html' %} 
{% block content %}

<center> Database Pasien </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pasien:create_pasien' %}">Daftar Pasien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'pasien:list_pasien' %}">List Pasien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">List Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List Hasil Tes Pasien</a>
          </li>
        </ul>
    </div>
    <h2><center>List Fasilitas Kesehatan</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">No</th>
                <th scope="col">No STR</th>
                <th scope="col">Email Dokter</th>
                <th scope="col">Faskes</th>
                <th scope="col">Shift</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Buat Appointment</th>
                <!-- {% if request.session.role == "ADMIN_APOTEK" %}
                <th scope="col">Action [ADMIN]</th>
                {% endif %} -->
            </tr>
        </thead>
        <tbody>
          <!-- {% for li in list_faskes %} -->
            <tr>
                <td>q</td>
                <td>q</td>
                <td>q</td>
                <td>q</td>
                <td>q</td>
                <td>q</td>
                <td> 
                    <a class="btn btn-primary btn-am bg-success update" href="#">Book</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
