{% extends 'base.html' %} 
{% block content %}

<center> Database Pasien </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            {% if peran == "pengpub" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pasien:create_pasien' %}">Daftar Pasien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'pasien:list_pasien' %}">List Pasien</a>
            </li>
            {% endif %}
            {% if peran == "admin satgas" %}
            <li class="nav-item">
                <a class="nav-link " href="#">List Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List Hasil Tes Pasien</a>
          </li>
          {% endif %}
        </ul>
    </div>
    <h2><center>List Pasien</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">No</th>
                <th scope="col">NIK</th>
                <th scope="col">Nama Pasien</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_pasien %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                <td> 
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'pasien:update_pasien' row=li.0 %}">Update</a>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'pasien:delete_pasien' row=li.0 %}">Delete</a>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'pasien:detail_pasien' row=li.0 %}">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
