{% extends 'base.html' %} 
{% block content %}

<div class="card">
   
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Update Data Pasien</center></h4></p>
     
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Pendaftar</label> {{ form.pendaftar }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">NIK</label> {{ form.nik }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Nama Pasien</label> {{ form.nama_pasien }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">No Telpon</label> {{ form.no_telp }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">No HP</label> {{ form.no_hp }}
          </div>
          <h3>Alamat(Sesuai KTP) :</h3>
          <br>
          <div class="form-group">
            <label for="validationDefault01">Jalan</label> {{ form.jalan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kelurahan</label> {{ form.kelurahan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kecamatan</label> {{ form.kecamatan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kabupaten/Kota</label> {{ form.kabkot }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Provinsi</label> {{ form.provinsi }}
          </div>
          <h3>Alamat(Domisili) :</h3>
          <br>
          <div class="form-group">
            <label for="validationDefault01">Jalan</label> {{ form.jalan_dom }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kelurahan</label> {{ form.kelurahan_dom }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kecamatan</label> {{ form.kecamatan_dom }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kabupaten/Kota</label> {{ form.kabkot_dom }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Provinsi</label> {{ form.provinsi_dom }}
          </div>
          <input class="btn btn-primary" type="submit" value="SIMPAN">
      </form>
    </div> 
    </div>
</div>

{% endblock %}
