{% extends 'base.html' %} 
{% block content %}

<center> Database Faskes </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          {% if peran == "admin satgas" %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'faskes:create_form_faskes' %}">Buat Faskes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'faskes:list_faskes' %}">List Faskes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'faskes:create_form_jadwal' %}">Buat Jadwal Faskes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faskes:list_jadwal' %}">List Jadwal Faskes</a>
        </li>
        {% endif %}
        </ul>
    </div>
    <div class="card-body form_bg_color "></div>
    <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Form Create Fasilitas Kesehatan</center></h4></p>
     
        <form action="{% url 'faskes:create_form_faskes' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault01">Kode Faskes</label> {{ form.kode }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Tipe</label> {{ form.tipe }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Nama Faskes</label> {{ form.nama_faskes }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Status Kepemilikan</label> {{ form.status_kepemilikan }}
          </div>
          <h3>Alamat :</h3>
          <br>
          <div class="form-group">
            <label for="validationDefault01">Jalan</label> {{ form.jalan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kelurahan</label> {{ form.kelurahan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kecamatan</label> {{ form.kecamatan }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Kabupaten/Kota</label> {{ form.kabkot }}
          </div>
          <div class="form-group">
            <label for="validationDefault01">Provinsi</label> {{ form.provinsi }}
          </div>
          <input class="btn btn-primary" type="submit" value="SIMPAN">
      </form>
    </div> 
    </div>
{% endblock %}
