{% extends 'base.html' %} 
{% block content %}

<div class="container px-4 px-lg-5 mt-5">
    <div class="card">
        <h5>Kode Faskes: {{kode}}</h5>
        <h5>Tipe: {{tipe}}</h5>
        <h5>Nama Faskes: {{nama}}</h5>
        <h5>Status: {{status_kepemilikan}}</h5>
        <br>
        <h5>Alamat:</h5>
        <h5>Jalan: {{jalan}}</h5>
        <h5>Kelurahan: {{kelurahan}}</h5>
        <h5>Kecamatan: {{kecamatan}}</h5>
        <h5>Kabupaten/Kota: {{kabkot}}</h5>
        <h5>Provinsi: {{provinsi}}</h5>
    </div>
</div>

{% endblock %}
