{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Faskes </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'faskes:create_form_faskes' %}">Buat Faskes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'faskes:list_faskes' %}">List Faskes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faskes:create_form_jadwal' %}">Buat Jadwal Faskes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'faskes:list_jadwal' %}">List Jadwal Faskes</a>
          </li>
        </ul>
    </div>
<br>

<h2><center>List Fasilitas Kesehatan</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Kode Faskes</th>
                <th scope="col">Tipe</th>
                <th scope="col">Nama Faskes</th>
                <th scope="col">Action</th>
                <!-- {% if request.session.role == "ADMIN_APOTEK" %}
                <th scope="col">Action [ADMIN]</th>
                {% endif %} -->
            </tr>
        </thead>
        <tbody>
          {% for li in list_faskes %}
            <tr>
                <td>{{li.0}}</td>
                <td>{{li.2}}</td>
                <td>{{li.1}}</td>
                <td> 
                    {%if li.0 == id_faskes %}
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'faskes:update_faskes' row=li.0 %}">Update</a>
                    <a class="btn btn-primary btn-am bg-success update disabled" href="{% url 'faskes:delete_faskes' row=li.0 %}">Delete</a>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'faskes:detail_faskes' row=li.0 %}">Detail</a>
                    {% else %}
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'faskes:update_faskes' row=li.0 %}">Update</a>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'faskes:delete_faskes' row=li.0 %}">Delete</a>
                    <a class="btn btn-primary btn-am bg-success update" href="{% url 'faskes:detail_faskes' row=li.0 %}">Detail</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}












