{% extends "base.html" %}


{% block content %}
<style>
    .tmargin{
        padding: 32px;
    }
</style>

<center> Database Faskes </center>
</h1>
<h5>
    <center> Pilih opsi yang ingin anda lakukan </center>
</h5>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'faskes:create_form_faskes' %}">Buat Faskes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faskes:list_faskes' %}">List Faskes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faskes:create_form_jadwal' %}">Buat Jadwal Faskes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'faskes:list_jadwal' %}">List Jadwal Faskes</a>
          </li>
        </ul>
    </div>
<br>

<h2><center>List jadwal Fasilitas Kesehatan</center></h2>
<div class="tmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">Nomor</th>
                <th scope="col">Faskes</th>
                <th scope="col">Shift</th>
                <th scope="col">Tanggal</th>
            </tr>
        </thead>
        <tbody>
          {% for li in list_jadwal %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{li.0}}</td>
                <td>{{li.1}}</td>
                <td>{{li.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}












