{% extends "base.html" %} 
{% block content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2>
            <center>Selamat datang, {{ username }} sebagai Dokter</center>
        </h2>
        <div style="margin-top: 15px;" class="container">
            <p>No. STR: {{ nostr }}</p>
            <p>Email: {{ username }}</p>
            <p>Nama: {{gelar_depan}} {{nama}} {{ gelar_belakang }} </p>
            <p>No. HP: {{ nohp }}</p>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Pasien</h5>
                            Buat Appointment, List Appointment, List Hasil Tes Pasien
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Rumah Sakit</h5>
                            Buat RS, List RS, List Jadwal Dokter, Buat Ruangan RS, List Ruangan RS, Buat Bed RS, List Bed RS, Buat Reservasi RS, List Reservasi RS
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}