{% extends "base.html" %} 
{% block content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2>
            <center>Selamat datang, {{ profile_data }} sebagai Admin Sistem</center>
        </h2>
        <div style="margin-top: 15px;" class="container">
            <p>Email: {{ profile_data }}</p>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="col mb-5">
            <div class="card h-100">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">Hotel</h5>
                        List Hotel, List Ruangan Hotel, List Paket Makanan, Buat Reservasi Hotel, List Reservasi Hotel
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'hotel:list_hotel' %}">Buka Fitur</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}