{% extends "base.html" %} 
{% block content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2>
            <center>Selamat datang, {{ username }} sebagai Admin Satgas</center>
        </h2>
        <div style="margin-top: 15px;" class="container">
            <p>Email: {{ username }} </p>
            <p>Faskes: {{ idfaskes }} </p>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Pasien</h5>
                            Buat Appointment, List Appointment, List Hasil Tes Pasien
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Faskes</h5>
                            Buat Faskes, List Faskes, Buat Jadwal Faskes, List Jadwal Faskes
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'faskes:list_faskes' %}">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Rumah Sakit</h5>
                            Buat RS, List RS, List Jadwal Dokter, Buat Ruangan RS, List Ruangan RS, Buat Bed RS, List Bed RS, Buat Reservasi RS, List Reservasi RS
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'rumahsakit:list_rs' %}">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Hotel</h5>
                            List Hotel, List Ruangan Hotel, List Paket Makanan, Buat Reservasi Hotel, List Reservasi Hotel
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'hotel:list_hotel' %}">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Transaksi</h5>
                            List Transaksi RS, List Transaksi Hotel, List Transaksi Booking Hotel, Buat Transaksi Makan dan Daftar Pesan, List Transaksi Makan dan Daftar Pesan
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'transaksi_rs:list_transaksi_rs' %}">Buka Fitur</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}