@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@600&family=Mulish:wght@300;400;500;600&family=Open+Sans&family=Oswald:wght@200;300;400&display=swap');

html{
    height: 100%;
}

*{
    border: 0;
}

.navbar-brand{
    font-family: Oswald;
}





