{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body{
        background-image: linear-gradient(118deg, #80D0C7 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .row{
        display: flex;
    }
    .col{
        text-align: center;
        width: 25%;
    }
    img{
        padding-bottom: 5%;
    }
</style> 

<link rel="stylesheet" href="{% static 'css/main.css' %}">
    
<body>
    <div class="container" style="height: auto; width: 100%;">
        <div class="container-fluid" style="text-align: center; padding-top: 10%;">
            <h1 style="font-size:6vh;font-family: montserrat; color: #ffffff;">SIRUCO Web<span><br></span> Made By Group F6</h1>
        </div>
    </div>
</body> 

{% endblock %}